/* Reset styles and set default font */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    transition: background-color 0.5s ease;
    background-color: black;
    color: white;
}


/* Big container styles */
.big-container {
    flex-basis: 100%;
}

.big-container p {
    color: #f9f9f9;
    font-size: 20px;
    flex-basis: 10%;
}

@media screen and (max-width: 600px) {
    .big-container p {
        font-size: 16px;
    }
}

/* Sub-container styles */
.sub-container {
    margin: 15px 0 25px -20px;
    color: #fff;
    display: inline;
}

.sub-container input {
    display: none;
}

.sub-container span {
    display: none;
}

@media screen and (max-width: 600px) {   
    .sub-container {
        display: block;
        position: relative;
        top: 5px;
        left: 30px;
        z-index: 1;
        user-select: none;
    }

    .sub-container p {
        text-decoration: none;
        color: #ffffff;
        transition: color 0.3s ease;
        cursor: pointer;
        font-size: 18px;
        margin: auto 0;
        padding: 15px 20px;
    }

    .sub-container p:hover {
        color: rgb(9, 251, 102);
    }

    .sub-container input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -15px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        margin-left: 50px;

    }

    .sub-container span {
        display: block;
        width: 33px;
        height: 4px;
        margin-left: 50px;

        
        margin-bottom: 5px;
        position: relative;
        background: #f5f5f5;
        border-radius: 13px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }
  
    .sub-container span:first-child {
        transform-origin: 0% 0%;
    }

    .sub-container span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    .sub-container input:checked~span {
        opacity: 100%;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #ffffff;
        margin-left: 50px;
    }

    .sub-container input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .sub-container input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    .sub-container input:checked~h5 {
        transform: none;
    }

    .tab {
        position: absolute;
        width: 360px;
        margin: -20px;
        padding: 0px;
        padding-top: 0;
        background: #000000;
        list-style-type: none;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        padding: 20px 0;
        font-size: 205px;
        color: #fff;
        max-width: 100%;
        /* Adjust maximum width for smaller screens */
    }

}

#subject-list {
    display: flex;
    color: #09f845;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 540px;
}

@media screen and (max-width: 600px) {
    #subject-list {
        display: block;
        font-size: 200px;
    }
}

/* Tab links styles */
.tab-links {
    cursor: pointer;
    position: relative;
    display: block;
}

.tab-links::after {
    content: '';
    height: 3px;
    background: #09f845;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links:hover {
    color: #25ff09;
    font-weight: bold;
}

.tab-links.active-link::after {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .tab-links::after {
        content: '';
        width: 0;
        height: 5px;
        background: #09f845;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }
}

/* Tab contents styles */
.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #ff004f;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

h3 {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: .6px;
    word-wrap: break-word;
    margin: 20px;
    border-radius: 1%;
    overflow: hidden;
}